footer
  .footer__top
  .footer__wrapper
    p.footer__headline Have an idea?<br />Let's Chat.
    hr.footer__divider
    .footer__bottom
      .footer__info
        p.footer__email
          a(href="mailto:info@alexrankin.co.nz") info@alexrankin.co.nz
        p.footer__location Auckland, New Zealand
        p.footer__policy
          a(href="/privacy-policy") Privacy Policy
      ul.footer__socials
        li.github
          a.github_link(href="https://github.com/alex-rankin" target="_blank")
            img.github__link__icon(src= icons.data.media[0].svg.url)
        li.linkedin
          a.linkedin_link(href="https://www.linkedin.com/in/alex-rankin/" target="_blank")
            img.linkedin__link__icon(src= icons.data.media[1].svg.url)
        li.instagram
          a.instagram_link(href="https://www.instagram.com/art.alexo/" target="_blank")
            img.instagram__link__icon(src= icons.data.media[2].svg.url)
