.projects__wrapper
  .projects__inner
    .project__reveal__item
      <svg class="project__item-media" viewBox="0 0 800 1000">
        <image opacity="1" mask="url('#mask-1')" preserveAspectRatio="xMidYMid slice" href="https://images.unsplash.com/photo-1584294311015-1bda86d6824d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=60" height="100%" width="100%" />
        <mask id="mask-1">
          <path id="wobble-1" class="c-fluid-reveal__wobble" d="M53.48-414.83C-36.82-373-33.76-278.17-19.91-194c12.17,74,66.56,136.46,2.05,205.61s-109.6,66-153.69,147.16,31,143.15-55,230.15-274,14.62-267,206S-750.66,726.14-680.2,819.76c75,99.68,487.9,207.62,632,282.55,342.19,177.9,764,148.24,902.86-42.68C994.14,867.89,1031.26,327.21,819.11-35.12,647.45-328.3,300.19-406.44,276.48-428.27,223.48-477.07,92.55-432.94,53.48-414.83Z" fill="white" />
        </mask>
      </svg>
      .project-title__content
        span small desc
        h3 First Content
        span tags

    .project__reveal__item
      <svg class="project__item-media" viewBox="0 0 800 1000">
        <image opacity="1" mask="url('#mask-2')" preserveAspectRatio="xMidYMid slice" href="https://images.unsplash.com/photo-1508504509543-5ca56440e013?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=60" height="100%" width="100%" />
        <mask id="mask-2">
          <path id="wobble-2" d="M53.48-414.83C-36.82-373-33.76-278.17-19.91-194c12.17,74,66.56,136.46,2.05,205.61s-109.6,66-153.69,147.16,31,143.15-55,230.15-274,14.62-267,206S-750.66,726.14-680.2,819.76c75,99.68,487.9,207.62,632,282.55,342.19,177.9,764,148.24,902.86-42.68C994.14,867.89,1031.26,327.21,819.11-35.12,647.45-328.3,300.19-406.44,276.48-428.27,223.48-477.07,92.55-432.94,53.48-414.83Z" fill="white" />
        </mask>
      </svg>
      .project-title__content
        span small desc
        h3 Second Content
        span tags

    .project__reveal__item
      <svg class="project__item-media" viewBox="0 0 800 1000">
        <image opacity="1" mask="url('#mask-3')" preserveAspectRatio="xMidYMid slice" href="https://images.unsplash.com/photo-1522850959516-58f958dde2c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=60" height="100%" width="100%" />
        <mask id="mask-3">
          <path id="wobble-3" d="M53.48-414.83C-36.82-373-33.76-278.17-19.91-194c12.17,74,66.56,136.46,2.05,205.61s-109.6,66-153.69,147.16,31,143.15-55,230.15-274,14.62-267,206S-750.66,726.14-680.2,819.76c75,99.68,487.9,207.62,632,282.55,342.19,177.9,764,148.24,902.86-42.68C994.14,867.89,1031.26,327.21,819.11-35.12,647.45-328.3,300.19-406.44,276.48-428.27,223.48-477.07,92.55-432.94,53.48-414.83Z" fill="white" />
        </mask>
      </svg>
      .project-title__content
        span small desc
        h3 Third Content
        span tags

