.menu
  .global-menu
    .global-menu__wrap
      a.global-menu__item(href="/") Home
      a.global-menu__item(href="/projects") Projects
      a.global-menu__item(href="/about") About
      a.global-menu__item(href="/contact") Contact

  svg.shape-overlays(viewBox="0 0 100 100" preserveAspectRatio="none")
    path.shape-overlays__path
    path.shape-overlays__path
    path.shape-overlays__path
