nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/")
      span.navigation__title Alex Rankin
        //- svg.navigation__icon

    span.navigation__menu menu
    .showMenu.hamburger
      span
      span
