// Establish theme colors
$color-black: #000;
$color-white: #fff;
$background: #171619;

$color-l-grey: #909090;

// Font Family
$font-montserrat: 'Montserrat';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexs: (
  'navigation',
  'content'
);
