extends ../layout.pug

block variables
  - var template = 'about'

block content
  .about
    .about__wrapper
      h1.about__title= about.data.title
      p.about__description= about.data.description

    .about__images
      img.about__gallery__media__image(src= about.data.media.url)
